My workflow 4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 2,
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "8c4c3a23-48ef-417a-8f14-056b25f8534b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bHKm_lJnGbbPZqfwdOn3tfCzZ1iYwbAJtCwUekVfvfE",
          "mode": "list",
          "cachedResultName": "Students Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bHKm_lJnGbbPZqfwdOn3tfCzZ1iYwbAJtCwUekVfvfE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bHKm_lJnGbbPZqfwdOn3tfCzZ1iYwbAJtCwUekVfvfE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "7586e1dd-4e91-436a-a96f-aa883b23464d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "91d8oko1WvyspHLX",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['e-Mail'] }}",
        "subject": "Feedback",
        "emailType": "text",
        "message": "=hi  {{ $json.Name }},\n\nplease fill the below feedback link.\n\nlink:https://forms.gle/iomhHJVEdP16wmwa6\n\nThank You\nManager",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "5cf0bb6f-654a-4897-9a64-594a72f820c6",
      "name": "Send a message",
      "webhookId": "27e33107-0ccb-4380-a1c1-aa22f6332a1f",
      "credentials": {
        "gmailOAuth2": {
          "id": "UQdV5oYsBy9wsPFi",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1nsJdxpAgK0XBpPHr6aHEPlPoS2DWLEZIGFQIUlQPx4o",
          "mode": "list",
          "cachedResultName": "Feedback 10 (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nsJdxpAgK0XBpPHr6aHEPlPoS2DWLEZIGFQIUlQPx4o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1335948761,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nsJdxpAgK0XBpPHr6aHEPlPoS2DWLEZIGFQIUlQPx4o/edit#gid=1335948761"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        240
      ],
      "id": "2cbc6229-7748-4f79-a2f5-4964d23650ed",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "o00ddndWhzz2vPI8",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.Review }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        32,
        224
      ],
      "id": "fe8c4f0e-afe2-42ae-8a7f-88bff2fe24cf",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        432
      ],
      "id": "9b53de9e-0237-46e2-a45a-9e01245f04b7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oZpkc2MhmZqNQeJW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=generate a mail based on review\n\nreview {{ $json.Review }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        608,
        64
      ],
      "id": "f8683107-7d09-486c-bf96-57ac20c48372",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        816,
        208
      ],
      "id": "5798f17c-6501-44d0-a680-d7f779371937",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "oZpkc2MhmZqNQeJW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=generate a email based on a review\n\nreview  {{ $('Google Sheets Trigger').item.json.Review }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        496,
        288
      ],
      "id": "e44f5c84-12a8-4d8c-9dfc-b4436363818a",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        448
      ],
      "id": "df372a57-313f-4b0a-8f36-934b5e753b57",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "oZpkc2MhmZqNQeJW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json['Email address'] }}",
        "subject": "Response",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        912,
        48
      ],
      "id": "88576567-77ce-4f66-bff1-07802c6ffa1c",
      "name": "Send a message1",
      "webhookId": "2dc649e9-11ee-4470-adda-a9f17eb436f7",
      "credentials": {
        "gmailOAuth2": {
          "id": "UQdV5oYsBy9wsPFi",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json['Email address'] }}",
        "subject": "response",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        368
      ],
      "id": "078f989e-8591-4f72-a539-dca0b0b1b5a8",
      "name": "Send a message2",
      "webhookId": "c57e8b75-23f2-40e8-a348-c8c66e274a2e",
      "credentials": {
        "gmailOAuth2": {
          "id": "4oXv5w2Jw5dODjVl",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "27e840ff-7b71-41bd-94cf-ea1ef4dcfe4d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "18df8be6e53e50f6df843b749b69301d8b6ff29bef8b6fd5e108d1a229712b81"
  },
  "id": "RXl8dZ40Om32RXIg",
  "tags": []
}